@font-face{
    font-family: "MiFuente";
    src: url("../font/kawoszeh-gen.eot");
    src: local('?'),
        url("../font/kawoszeh-gen.woff") format("woff"),
        url("../font/kawoszeh-gen.ttf") format("truetype"),
        url("../font/kawoszeh-gen.svg") format("svg");
    
}



.PruebaFuente{
    font-family: "MiFuente", Arial;
    color: red;
}

header h2, h3 {
	color: red;
}

#azul{
	color: yellow
}

.prueba{
	color: green;
}

.prueba2{
	font-size: 25px;
}

h2[title="main"]{
	color: pink;
}